[2018-06-15 13:26] ncoghlan opened #1 "Migrate b.p.o issue tracking from the meta-tracker"
Step 1: ask folks to start filing new issues here rather than on http://psf.upfronthosting.co.za/roundup/meta/ (as per http://psf.upfronthosting.co.za/roundup/meta/issue655 )
Step 2: figure out what to do with previously filed issues? Close them? Migrate them somehow?

[2018-06-15 13:31] ncoghlan opened #2 "Consider whether or not to migrate bugs.python.org source code to this repo"
(Migrating this proposal from http://psf.upfronthosting.co.za/roundup/meta/issue655 )

When CPython migrated to GitHub, the bugs.python.org code stayed on hg.python.org in order to remain consistent with upstream Roundup.

It would be nice if the bugs.python.org maintenance could be split somehow such that most CPython specific changes could be managed using the same process as other core-workflow

[2018-06-15 13:39] ewdurbin commented on #2
We have a handful of repositories to consider:

# https://hg.python.org/tracker/roundup/

This is our fork of roundup. It should remain as up to date as possible with upstream at http://hg.code.sf.net/p/roundup/code which is also a mercurial repository. I think it's fine that it remain on hg.python.org until such a time that the upstream repo is compatible with migrating it to GitHub or similar.

[2018-06-15 13:45] ncoghlan opened #3 "Migrate wiki documentation into a ReadTheDocs project?"
The tracker documentation is currently maintained in the Python wiki at https://wiki.python.org/moin/TrackerDevelopment

Might it be worthwhile migrating that into a ReadTheDocs project maintained as part of this repo?

[2018-06-15 13:51] ncoghlan commented on #3
(Note: I wouldn't recommend doing this until #2 is resolved, as importing the python-dev tracker instance is likely to involve wiping any existing history in this repo. That's fine if the only history being list is my creation of the current `README.md` file, but more of a problem if we have a non-trivial amount of developer documentation here)

[2018-06-15 13:57] ncoghlan opened #4 "Archive the legacy setuptools issue tracker"
The setuptools issue tracker migrated to GitHub a while back, but https://bugs.python.org/setuptools/ doesn't indicate that.

https://hg.python.org/tracker/setuptools/ should be archived somehow, and update to redirect anyone attempting to use it to https://github.com/pypa/setuptools/issues

[2018-06-15 14:02] ncoghlan commented on #2
Making this repo a replacement for https://hg.python.org/tracker/python-dev/ sounds excellent to me, since most of the events that core-workflow folks are going to be interested in should already exist at that level.

I filed https://github.com/python/bugs.python.org/issues/4 to cover doing something about the legacy setuptools issue tracker.

Running http://bugs.jython.org/ and http://issues.roun

[2018-06-15 15:59] ezio-melotti commented on #3
A few comments:
* most of that documentation is not particularly useful if people use the docker image, but it's still good to have somewhere in case someone wants/needs to set up the tracker from scratch;
* the docker image docs is at https://github.com/python/docker-bpo/blob/master/README.md ;
* part of that documentation is probably obsolete and should be revised/removed;
* some of the things r

[2018-06-15 16:07] Mariatta opened #5 "bpo is returning statuscode 200 when there was an error"
Reference issue: https://github.com/python/the-knights-who-say-ni/issues/146

If we pass in this url to bpo to check for CLA:
`https://bugs.python.org/user?@template=clacheck&github_names=`

The response text says there's an error, but with status code 200.
It would be great if b.p.o can return a proper error status code in this situation.

Thanks.

[2018-06-15 16:10] ezio-melotti commented on #5
I've seen that error popping up in the logs and I was wondering what was triggering it :)
Should be an easy fix.

[2018-06-15 16:10] Mariatta opened #6 "Don't send email when someone is added/removed from nosy list"
Personally I find it just noise..
If such emails can be disabled, it would be appreciated.

I saw it requested since 2012 in the upstream roundup.
http://issues.roundup-tracker.org/issue2550742

If it can't get done in upstream, I hope bpo can support this.
Thanks.

[2018-06-15 16:11] Mariatta opened #7 "Support logging in with GitHub"
It would be great if we can login to bpo using GitHub.

Thanks.

[2018-06-15 16:14] Mariatta opened #8 "Add people participating in GitHub PR to bpo nosy list"
For example people commenting on the PR can also be added to the nosy list, so they're aware of discussions happening in bpo.
This was originally proposed in https://github.com/python/bedevere/issues/98

[2018-06-15 17:11] willingc commented on #3
FWIW the Docker repo works really well to get an environment for development setup. It would be great to move the Dockerfile over here too.

[2018-06-15 17:21] ezio-melotti commented on #1
Step 1 should be easy: there's a link a to the meta-tracker in the b.p.o sidebar and possibly a few other links in the docs/devguide that would need to be updated.

As for the other issues, I think we should go through the open ones, close the obsolete ones (e.g. the ones about rietveld), and move here the rest.  I don't think we need to migrate the closed ones to github unless it's trivial to do,

[2018-06-15 17:27] ezio-melotti commented on #2
I would prefer to leave python-dev on hg.p.o at least for now.  If python-dev is moved here, the other instances should be moved as well, since I often have to apply the exact same patch on all 4 of them.
Using the same vcs for both the instances and roundup would also be nice.

[2018-06-15 18:28] ezio-melotti commented on #5
Done in https://hg.python.org/tracker/python-dev/rev/99cd17cb02f4 and https://hg.python.org/tracker/python-dev/rev/f40f48714e04

[2018-06-15 18:32] Mariatta commented on #5
Thanks! I confirmed that it [works](https://github.com/python/miss-islington/pull/104#event-1684025331) now.

[2018-06-15 18:32] #5 closed

[2018-06-16 02:52] ncoghlan opened #9 "Report which CPython version a PR was merged for"
At least in theory, there's enough info in the GitHub commit reference for b.p.o to figure out which version a merged PR will end up being released in.

Specifically:

- there's already a PR reference added to the issue by the GitHub bots
- the squashed-and-merged commit is linked back to the issue in a comment
- the GitHub API also exposes the landed commit hash in the `merged_commit_hash` field:

[2018-06-16 03:11] ncoghlan commented on #2
While maintaining consistent workflows is definitely preferable, we already have a major inconsistency between bugs.python.org, CPython itself, and the rest of the CPython workflow automation that means we can't just send a PR for bugs.python.org the way we can for our other workflow tools, and that creates a significant barrier to contribution for the bugs.python.org instance. It also makes it si

[2018-06-16 04:11] ncoghlan commented on #1
I reviewed the titles of the open meta-tracker issues, and closed a couple as obsolete (with a link back to this issue). Most of them looked likely to still be valid, though (since they related to things like authentication, the web UI, email notifications, reply-by-email, etc).

As far as archiving goes, perhaps whatever is done for the setuptools repo (#4) could also be done for the meta-tracker

[2018-06-16 04:21] ncoghlan commented on #3
Regarding scope, I personally prefer having developer documentation for a project in the same repo as the project itself. The main cases where I've seen that break down is when the project has a complex branching structure (hence the CPython devguide being separate from CPython itself), or when the documentation covers a broad collection of projects (hence pypa.io and packaging.python.org having t

[2018-06-17 12:36] ncoghlan commented on #1
Ah, checking tracker-discuss, I see the reason the Reitveld ones were already closed is because @berkerpeksag already went through and closed them as out of date a few days ago :)

[2018-06-17 12:47] ncoghlan opened #10 "Get email from b.p.o passing DMARC (etc)"
As discussed at http://psf.upfronthosting.co.za/roundup/meta/issue562, bugs.python.org has recurring problems with its messages getting marked as spam for some users. I think it only works for me because I listed bugs.python.org as an approved sender years ago, since the message headers include:

    Authentication-Results: mx.google.com;
       spf=neutral (google.com: 46.4.197.70 is neither perm

[2018-06-18 01:10] brettcannon commented on #2
@ezio-melotti What are the 4 instances? setuptools, jython, b.p.o and what?

And are these other instances providing people-power to help support their instances? If the answer is "no" then I think it might be time to ask them to consider migrating to any of the other various free open source hosting platforms that come with an issue tracker rather than have knock-on effects of trying to support t

[2018-06-18 08:08] ezio-melotti commented on #2
b.p.o, meta-tracker, jython, setuptools.

AFAIK no one is working on them, but b.p.o and meta are ours and setuptool is not longer used.
Jython is the only one that should be actively used.
I've updated those instances every time I did an update on Roundup and/or there was some security issue, but other than that they don't require any particular maintenance.

[2018-06-18 12:04] ewdurbin commented on #2
http://issues.roundup-tracker.org itself is also hosted on bugs.python.org

[2018-06-18 14:27] ezio-melotti commented on #2
While it is hosted on the same machine, it's not part of the 4 instances we maintain, and it's currently maintained by the Roundup devs.

[2018-06-18 18:46] brettcannon commented on #2
OK, so maybe we should reach out to the Jython devs and let them know we are no longer going to push changes to their fork for them and they will need to have someone do it on their behalf? That will bring the number of instances down to one (assuming this replaces the meta tracker).

[2018-06-18 23:18] ezio-melotti commented on #2
I'm not sure that would be the best course of action.  The other instances require so little maintenance that they are not a burden (at least to me).  For instance, the Jython instance got a dozen of commits in the last 6 years, and those changesets are applied to all the instances without changes.
I think it's best if we keep all the active instances together, and we keep maintaining them togethe

[2018-06-19 19:03] brettcannon commented on #2
@ezio-melotti but will it be a burden if we start to get more people involved? It just sounded like it was a burden in your earlier comment is all. I mean if you want to take it on to backport all changes that land in b.p.o's code then I have no objection.

[2018-06-20 05:59] ammaraskar commented on #7
# Setup Instructions

Generate a set of github oauth credentials here:
https://github.com/settings/applications/new

Set the authorization callback url to be:
https://bugs.python.org/index?@action=oic_authresp&provider=Github

Insert the client_id and client_secret into the database:

[code]

Patch for http://hg.python.org/tracker/python-dev: https://gist.github.com/ammaraskar/e259bc7d50df354e796e

[2018-06-20 09:57] ammaraskar commented on #7
@ezio-melotti Antoine said you'd be the right person to talk to about getting this merged. Lemme know if you want the patch in some specific way or another.

[2018-06-20 22:24] Mariatta opened #11 "Automatically apply labels in GitHub PRs based on bpo info"
Can we automatically apply "needs backport to" labels to pull requests based on the versions selected in bpo? Thanks.

See related discussion: https://github.com/python/core-workflow/issues/267

[2018-06-22 02:54] Mariatta opened #12 "Multiple links to the same PR"
This was opened in https://github.com/python/core-workflow/issues/224, but it is more appropriate here:

🍝 (copy pasta)

[2018-06-22 17:32] ezio-melotti commented on #2
I'm not sure I understand exactly what you mean, so I'll try to summarize the situation and my position.
It's a long post and I also included several things that are OT for this issue, but I'm having a hard time following all the issues/threads/discussion that came up lately and thought it would be good to have a summary somewhere (new issues/threads can then be started elsewhere if necessary).

T

[2018-06-22 19:42] brettcannon commented on #2
So I'm hearing:

1. Better Dockerfile
2. Fix stuff
3. Get off of our fork with Roundup 2.0
4. Keep fixing stuff forever

So who wants to help make step 1 happen? And are people okay with helping make that happen on hg.python.org and the current development process there? If anyone answers "yes" to the first question but "no" to the second then please speak up.

[2018-06-22 19:59] ezio-melotti commented on #2
Note that the dockerfile is already on GitHub at https://github.com/python/docker-bpo (thanks to @soltysh) and that should be the most recent version (there used to be a couple of clones on BitBucket too, including https://bitbucket.org/ezio_melotti/docker-b.p.o/ and the original version by @introom).
The repo has a few open issues, so that should be a good starting point for anyone that wants to

[2018-06-22 23:39] Mariatta commented on #2
I personally think that as long as this project is in mercurial, without any CI, and without good way to even review patches, then it is not ready to start accepting lots of patches and fixes from new contributors.

I've read https://wiki.python.org/moin/TrackerDevelopment , and I still couldn't figure out how to upload a patch, let alone how to help review patches.

[2018-06-23 01:00] ncoghlan commented on #2
None of the issues Ezio raised are the ones I am trying to solve with this proposal: the one I care about is that folks that are already actively contributing to CPython, the main PSF website, and to other core development workflow tools are *not* able to meaningfully contribute to bugs.python.org maintenance without:

1. Learning a new, now mostly undocumented, source code management workflow (th

[2018-06-23 06:11] ezio-melotti commented on #2
@ncoghlan: What kind of tooling/workflow would you suggest then (other than just GitHub)?  In the past (before the switch to GitHub) I wanted to fix things on the python.org website and couldn't figure out how to do it.
ISTM that having CI figure out whether or not things broke is not as straightforward, since many of the changes require user interaction and are not tested from the code.  If thing

[2018-06-24 02:20] ncoghlan commented on #2
@ezio-melotti Given @soltysh's work on OpenShift/Kubernetes compatibility, then folks should be able to deploy demo instances from their public forks to the OpenShift Online starter tier, and potentially also to the Google/Azure/Amazon Kubernetes offerings (GKE/AKS/EKS). That's a lot more powerful than only being able to test locally, since it means folks can also share UI changes for review and c

[2018-06-25 11:03] ncoghlan commented on #2
That actually reminds me of something I've set up at work: a pipenv managed "dev environment" type arrangement, where `git clone` + `pipenv shell` gets you a working environment with everything else you need (up to and including ansible).

If we updated https://github.com/python/docker-bpo to include Mercurial inside the Docker image, then the initial repository cloning and later updating could be

[2018-06-25 13:05] james-stevens opened #13 "unable to register"
I've tried to register at bugs.python.org, but it doesn't appear to work - id "james_r_c_stevens"

once registered I get the confirmation email and click the link, but the login doesn't work

if I try to login the screen refreshes sending me to "https://bugs.python.org/?%40error_message=Invalid+login" - buy no such error message ever appears. Apart from the screen-refreshing nothing else happens.

[2018-06-26 00:55] ezio-melotti commented on #13
I don't see anything unusual in the error logs.  On some mail clients the confirmation link is broken on two lines -- if that's the case you might have to put it back together, and if you do that incorrectly you might get an error.

[2018-06-26 11:40] james-stevens commented on #13
not the issue I was getting - (see attached)

I tried the email reply method & clicking on the link method

I've registered twice, with the same details and gone through the same procedure. I've clicked the link multiple times.

Are you not seeing that in the logs?

![selection_2018-06-26_001](https://user-images.githubusercontent.com/30622954/41909115-1b948da8-793e-11e8-8870-48e924d9447a.png)

[2018-06-26 11:42] james-stevens commented on #13
As you can see, then entire URL as click-through fine - but there is no confirmation and the login section is still asking me to login

![selection_2018-06-26_002](https://user-images.githubusercontent.com/30622954/41909206-5a2b2a4a-793e-11e8-892b-274b986502d9.png)

[2018-06-26 11:47] ezio-melotti commented on #13
This is because the homepage URL entered when you registered is invalid.
See also http://psf.upfronthosting.co.za/roundup/meta/issue591
I would suggest to leave the "homepage" field empty when you register, and possibly fill it in later.

[2018-06-26 11:52] james-stevens commented on #13
So

1)  this has been an issue for over a year and it's **still** not fixed (not even any warnings etc) - that's appalling -  I can give you a Javascript regex that will validate a URL if you like, you just put it in the "onSubmit" for the form.

2) you knew about this but didn't tell me the first time, but instead tried to claim it was something I was doing .... Mmmmm

James

[2018-06-27 07:53] #13 closed

[2018-06-28 18:17] ammaraskar commented on #2
For my 2 cents as someone who has recently tried to contribute code to add logging in with Github, here's some brief thoughts:

* The documentation here https://wiki.python.org/moin/TrackerDevelopment was actually fairly thorough and set up was not too hard.

* What the documentation lacked, and what Mariatta pointed out is that there's no description at all on where to submit patches. The only re

[2018-06-28 20:23] bitdancer commented on #2
On Thu, 28 Jun 2018 11:17:18 -0700, Ammar Askar <notifications@github.com> wrote:

Yes, roundup was developed long ago, and has actually held up surprisingly
well, considering that.

roundup is a separate project from bugs.python.org, and there are a few
(not many!) developers working on it in addition to Ezio's occasional
contributions.  They talked on the -dev mailing list about a possible
git m

[2018-06-28 20:56] ammaraskar commented on #2
testing of the same.  I don't see why testing the b.p.o instance would be
any different a problem than testing any other web site, but I've never
written automated tests for a web site so I really don't know.

Right, when talking about bpo up there, I really mean roundup + the bpo instance as a whole.

[2018-07-05 17:00] Mariatta opened #15 "SSL connection errors to bpo"
We're seeing a number of errors when `ni` tries to connect to bpo to check for CLA.
These are logged in https://github.com/python/core-workflow/issues/259

[code]

I wasn't sure who can look into this, figured I start here.
Thanks.

Here's the stacktrace:
![screen shot 2018-07-05 at 9 58 55 am](https://user-images.githubusercontent.com/5844587/42336962-2105bc82-803a-11e8-9521-75a5997ddeff.png)

[2018-07-05 17:02] vstinner commented on #15
I reported the same issue a few months ago (Oct 2017) :-(

https://github.com/python/psf-infra-meta/issues/4

[2018-07-05 17:10] Mariatta commented on #15
Thanks. I'll close this since it is tracked elsewhere.

[2018-07-05 17:10] Mariatta commented on #15
Duplicate of python/psf-infra-meta#4

[2018-07-05 17:10] #15 closed, assigned to nobody

[2018-07-18 13:57] genodeftest opened #16 "Update TLS version to 1.2 or even 1.3"
TLS 1.0 and 1.1 are old and weak, they may be broken at some time soon. Some projects such as [Fedora](https://fedoraproject.org/wiki/Changes/StrongCryptoSettings2) and [Debian](https://lists.debian.org/debian-devel/2017/08/msg00166.html) are thinking about disabling TLS versions below 1.2 by default. TLS 1.2 has been available for almost 10 years and TLS 1.3 is coming soon™.

Any server of the py

[2018-07-18 15:02] bitdancer commented on #16
There is an impending infrastructure migration that I believe will take
care of this issue.

[2018-08-30 14:28] matrixise opened #17 "Sync issue between PR and bpo issue"
This PR is merged into CPython master https://github.com/python/cpython/pull/8453

but this PR is not marked as 'merged' in https://bugs.python.org/issue34217

Any idea?

Thank you

[2018-08-30 20:01] terryjreedy commented on #17
The bots are not perfect.  I believe this happened to me once and when closing, I added a note that PR nnnn had been merged in spite of the absence of 'merged'.

That said, the reference PR is *now* listed as 'merged'.  Perhaps the reference here, noted on the PR, poked our bot into action ;-).

[2018-08-30 20:05] ezio-melotti commented on #17
Yes, as far as I know, if an error occurs or if the bot can't contact bpo for whatever reason, the bot is not going to automatically try again, but will report the issue on the admin interface and allow an admin to re-send the payload manually.  This is most likely what happened, and since the PRs are marked as merged now, I'm going to close this issue.

[2018-08-30 20:05] #17 closed, assigned to nobody

[2018-08-31 09:56] serhiy-storchaka commented on #17
I have updated the status of the reference manually.

[2018-09-26 17:08] tirkarthi opened #18 "Rietveld patch review links return 404"
Rietveld links that contain review comments for patches now return 404. It used to work before. This is causing issues while looking up review comments to know why a decision was made. It was initially reported in Zulip but I am opening an issue here so that it can be tracked. It will be helpful that the comments on the patches are restored for reference on issues. Hope this is the right place for

[2018-09-26 19:46] ezio-melotti commented on #18
As I mentioned on Zulip, I'm not aware of any changes that might have broken it, perhaps @ewdurbin knows something about it?

[2018-09-26 20:36] ewdurbin commented on #18
Resolved. Misconfiguration.

[2018-09-26 20:36] #18 closed, assigned to nobody

[2018-10-05 15:27] matrixise opened #19 "Add branch name in Pull Requests on an issue"
Could we add the branch name of a PR when this one is submitted?
For example, https://bugs.python.org/issue34906 in this issue, there are two PR, but we don't know the associated branch, master, 3.7.

[2018-10-11 14:01] swarmer opened #20 "Query deletion is broken"
When I delete a query, it is still shown in Your Queries list on the sidebar, but it can't be modified and is not visible in `https://bugs.python.org/query?@template=edit` anymore.

Long story short, I now have a big mess of useless queries in my sidebar that I can't delete. If not a proper fix in code, I would appreciate if someone can delete or hide all my queries (`anton.barkovsky`).

[2018-10-12 00:01] ezio-melotti commented on #20
See http://psf.upfronthosting.co.za/roundup/meta/issue352
This seems to be fixed, but apparently the fix requires JS.
Do you have JS disabled?

[2018-10-12 00:09] swarmer commented on #20
No, I don’t.
Also even if deletion was fixed for future deletions, my records are already corrupted.

[2018-10-12 00:12] ezio-melotti commented on #20
Maybe @bitdancer can help, since he fixed the original issue.

[2018-10-12 08:23] swarmer commented on #20
I selflessly sacrificed some more pixels on my sidebar, and on deleting another query, I couldn't see any errors in my browser's (Chrome 69) console.

[2018-10-12 13:04] bitdancer commented on #20
On Thu, 11 Oct 2018 17:12:52 -0700, Ezio Melotti <notifications@github.com> wrote:

My memory is a bit vague, but I believe this was fixed in the upstream
templates (by someone other than me, though starting from my original set
of changes, I think), so you could compare the bpo code against upstream.
If you toggle the query to "leave out" first you are fine...the problem
is in the logic of what g

[2018-10-12 13:54] swarmer commented on #20
@bitdancer Hmm. If I was brave enough to try to fix this, I'd need to produce a patch to `https://hg.python.org/tracker/roundup/shortlog/bugs.python.org`, right? Where would I submit the patch?

[2018-12-01 04:17] tirkarthi opened #21 "Invalid email in a profile causes server error and doesn't add comment"
When a user has an invalid email in their profile then while adding a comment in the issue to which they are subscribed tries to send an email to them. The invalid email causes failure which is not handled and I assumes it causes the transaction to rollback adding no comment to the issue but since other webhooks were triggered IRC is notified about the comment. Reporting this here in case someone

[2018-12-01 05:30] ezio-melotti commented on #21
I suspect this is a Roundup issue and should therefore be reported upstream, but I didn't have time to reproduce and investigate the issue yet.
We can keep this open as a reminder for now.

[2018-12-27 11:54] JulienPalard opened #22 "PR reported as open but is merged"
In this issue : https://bugs.python.org/issue35579 PR 11323 is reported as open but is merged.

[2018-12-27 11:55] JulienPalard commented on #12
Happened again here: https://bugs.python.org/issue35579 with 4 links to the same PR.

[2018-12-27 16:37] Mariatta commented on #12
It could be related to the bpo maintenance recently, where Ernest had to replay all of the failed webhook deliveries. https://github.com/python/core-workflow/issues/301

[2018-12-27 18:12] terryjreedy commented on #22
I have seen status change as much as a day later, or never.  When closing, I may note on the issue that a PR is really closed.  In this case, hitting [edit] shows that is was changed from open to merged and 10 minutes later back to open.

2018-12-26 15:03:47	miss-islington	set	status: merged -> open
2018-12-26 14:53:05	miss-islington	set	status: open -> merged

The reversion happened at the same m

[2018-12-27 18:17] terryjreedy commented on #12
If you hit a link [edit] button, you can unlink, but I don't know if just 1 or all 4 would be affected.  The duplicate merge reports can be deleted 1 by 1 if you want to clean the issue for future viewers.

[2018-12-27 18:25] serhiy-storchaka commented on #12
Just 1 will be unlinked. You need to unlink them 1 by 1. I did this many times, and it is tiresome.

[2018-12-27 19:09] Mariatta opened #23 "Timeout delivering webhook"
Webhook to bpo pull_request with this payload keep resulting in `Service timeout` error.

I think it was taking too long to process this particular delivery? I've tried re-delivering the same payload three times, all returning `Service timeout`.

  delivery id 6efba906-09dd-11e9-9b45-e06201fc4ec9
timestamp: 2018-12-27 05:43:46
[code]

[2018-12-28 21:50] ewdurbin commented on #23
GitHub has a timeout for web hook delivery, at [10s](https://developer.github.com/v3/guides/best-practices-for-integrators/#favor-asynchronous-work-over-synchronous).

My best guess is that _something_ on the new server is causing the handler to take longer than that. It's totally possible that the switch from the built in bespoke roundup-server to gunicorn is causing floods of requests to push Gi

[2018-12-28 21:50] ewdurbin commented on #23
Also worth noting that each of the deliveries probably _succeeded_ in doing whatever the handler would do with them... GitHub just gave up.

[2018-12-31 05:49] ned-deily commented on #12
AFAICT, this now seems to be happening for all PRs with b.p.o references, with 3 identical PR links being created.  See, for example, https://bugs.python.org/issue35614.  @ewdurbin @ezio-melotti

<img width="979" alt="screen shot 2018-12-31 at 00 46 56" src="https://user-images.githubusercontent.com/5833005/50555107-c5d14f00-0c95-11e9-91dd-f55567bd4060.png">

[2018-12-31 05:51] gpshead commented on #12
fwiw, it isn't always three, i _believe_ I've seen four happen today.

[2018-12-31 06:11] ned-deily opened #24 "User timezone setting in profile no longer affects web page output ?"
I can't *swear* to it but I'm pretty sure that it used to be the case that the date and times displayed in individual b.p.o issue pages obeyed the Timezone setting in my b.p.o user profile (`Your Details`).  Recently I've noticed that times now appear to be unconditionally displayed in UTC for me when logged in.  I tried changing the timezone in my profile but that didn't seem to make a difference

[2018-12-31 06:11] ned-deily commented on #24
@ewdurbin FYI

[2018-12-31 16:39] ewdurbin commented on #24
@ned-deily sneaky conditional code in roundup that changes behavior based on `pytz` being installed... I've added that requirement and this feature appear to be working now :)

[2018-12-31 16:39] #24 closed, assigned to nobody

[2018-12-31 16:40] ewdurbin commented on #24
ref: https://github.com/python/psf-salt/commit/9ab7213514ad02c1e10350ae1e40a210242d87a0

[2018-12-31 16:40] ewdurbin commented on #16
resolved

[2018-12-31 16:40] #16 closed, assigned to nobody

[2018-12-31 19:14] ewdurbin commented on #12
It _appears_ to be a race condition on these statements: https://bitbucket.org/python/roundup/src/45440a8172b155875eb4daecd44104abe03b49d3/roundup/github.py#lines-200:201

https://bitbucket.org/python/roundup/src/45440a8172b155875eb4daecd44104abe03b49d3/roundup/github.py#lines-228

If the handler is slow, and multiple web hooks are being processed simultaneously for the same PR they each helpfully

[2018-12-31 19:49] ned-deily commented on #24
Thanks, @ewdurbin, for your, um, timely response!

[2018-12-31 23:33] Mariatta commented on #12
Is this something that will go away if we start using GitHub issues?

[2019-01-02 13:11] tirkarthi commented on #12
I guess this also affects keywords. After a PR is added to the issue every message repeats the keyword `patch` thrice per message in the activity log. Example : https://bugs.python.org/issue35603 .

![screen shot 2019-01-02 at 6 35 47 pm](https://user-images.githubusercontent.com/3972343/50593258-a452ac00-0ebd-11e9-902c-8320d0df3b48.png)

[2019-01-02 19:47] Mariatta opened #25 "Remove linked PR in bpo, if the bpo number was changed."
https://github.com/python/cpython/pull/11414 initially has bpo-35434 in the title, so the pull request was included in bpo-35434.
However the title was later changed to bpo-35431. However, the PR was still linked to bpo-35434.

It would be great if the previous link in bpo-35434 can be automatically removed.

[2019-01-03 10:52] FR4NKESTI3N commented on #25
Sorry about that. Unlinked it.

[2019-01-03 13:48] FR4NKESTI3N commented on #25
Sorry about that, I have removed the links in bpo-35434 manually. But yeah, automatic unlinking would be great in case someone else makes a typo.

[2019-01-03 17:15] ewdurbin commented on #12
This is a rough attempt at resolving this: https://bitbucket.org/python/roundup/pull-requests/1/attempt-to-handle-pr-race-condition/diff

[2019-01-04 22:36] vstinner commented on #12
I will follow this issue since the bug is annoying. It sends me useless email notifications and not all duplicated PRs get updated when a PR is merged or rejected.

[2019-01-08 21:24] evandrocoan opened #26 "An error has occurred A problem was encountered processing your request. The tracker maintainers have been notified of the problem."
I had and account a year ago, but now I tried to login it said to me the user was non-existent. Then I created a new account, and when I hit the confirmation button on my email it opened this page:

1. ![image](https://user-images.githubusercontent.com/5332158/50859465-90ee8780-137a-11e9-81f3-57f403f082c5.png)
   https://bugs.python.org/?@action=confrego&otk=OyAWQIJSDAX44wRQbkvReXqZf7qNNMFt

1. ![

[2019-01-08 21:30] evandrocoan opened #27 "It is not sending me the confirmation email if I use my email from @hotmail.com, If I use my email from @outlook.com, the confirmation was sent immediately"
Continuation from:
1. https://github.com/python/bugs.python.org/issues/26 An error has occurred A problem was encountered processing your request. The tracker maintainers have been notified of the problem.

On that issue, I received the confirmation email because I used my email from @outlook.com, but I am still waiting the confirmation email for my email from @hotmail.com

No, it is not on my spa

[2019-01-08 21:45] Mariatta commented on #26
It seems that you're able to create the account in bpo now, so you'll have to actually create the unittest bug there. Sorry for the trouble.
However, this is the appropriate place to report issues with the account creation itself.

[2019-01-08 21:50] evandrocoan commented on #26
I am trying to log in, but it keeps telling me:
1. broken form: multiple @action values submitted
   ![image](https://user-images.githubusercontent.com/5332158/50861019-a4035680-137e-11e9-93f1-5d6c1030ca56.png)

[2019-01-08 21:53] evandrocoan commented on #26
I managed to login by directly accessing the page with this link:
1. https://bugs.python.org/

Before I was accessing the confirmation link:
1. https://bugs.python.org/?@action=confrego&otk=OyAWQIJSDAX44wRQbkvReXqZf7qNNMFt

And trying to login from that page:
![image](https://user-images.githubusercontent.com/5332158/50861145-fb092b80-137e-11e9-9990-6f687d44b90d.png)

Then, it was saying this bug:

[2019-01-08 22:52] evandrocoan commented on #27
I just received the email for my @hotmail.com email, several hours after the @outlook.com, and I tried to access the link, it said invalid page. Anyways, I do not need another account, I already got the one from the @outlook.com email.

[2019-01-09 17:13] Mariatta commented on #26
Perhaps @ewdurbin or @ezio-melotti can take a look. I don't have access to the logs.

[2019-01-09 18:43] ewdurbin commented on #26
The issue appears to be a database constraint:

[code]

So it appears that multiple registration attempts with the same username `addons_zz` were initiated, and at least one was completed.

[2019-01-09 18:49] ewdurbin commented on #26
So that at least explains the first issue, combined with the other referenced issue it appears that between the two email addresses @evandrocoan tried to use, one of them was successful in creating a n account.

When the user clicked the confirmation link for a second time, the OTK tried to create an account with the same user name, and obliterated the one time use key. @evandrocoan do you have an

[2019-01-09 18:51] ewdurbin commented on #26
I'm able to reproduce the `multiple @action values submitted` error by going to `https://bugs.python.org/?@action=foo`, receiving an `No such action "foo"` error, then trying to log in.

Will look into if there's away to strip the outer `@action` from the POST used to log in, but I'm not sure it will be that simple.

[2019-01-09 20:22] evandrocoan commented on #26
I have posted on this thread all screenshots I got. I think what you want now, would be this screenshot:

![image](https://user-images.githubusercontent.com/5332158/50858750-73b8b980-1378-11e9-97b6-76779dea8fd2.png)

[2019-01-21 16:01] vstinner opened #28 "XML-RPC failure: Required Header Missing"
My https://github.com/vstinner/python-security/ script download metadata of bugs.python.org issues using XML-RPC no longer works. I use it rarely, like once a month. So I'm not sure when it stopped working.

Example of Python 3 script:

[code]

Output:

[code]

I copied headers from http://roundup.sourceforge.net/docs/xmlrpc.html#advanced-python-client-adding-anti-csrf-headers Roundup XML-RPC docu

[2019-01-21 16:12] vstinner commented on #28
Example of Roundup code which raises the error: https://hg.python.org/tracker/roundup/rev/44f7e6b958fe

[2019-01-21 17:29] ewdurbin commented on #28
This appears to be an issue of compatibility with the `roundup.cgi.wsgi_handler` and Gunicorn. It was triggered by moving from the builtin `roundup-server` for running the web service to `gunicorn`.

Code is looking for `HTTP_X-REQUESTED-WITH`, but it appears that Gunicorn is populating the environment with `HTTP_X_REQUESTED_WITH`.

I've temporarily disabled this check in https://github.com/python

[2019-01-21 20:38] vstinner commented on #28
Thanks. I confirm that it works again the issue :-)

[2019-01-23 14:20] tirkarthi commented on #12
Is this possibly due to the extra workers that were spin up during the maintenance causing duplicate PRs to be created always since the race condition exists for a very long time? Subscribing to python-bugs-list sends a lot of duplicate notifications and emails for PRs sometimes causes actual messages to be overlooked if there are multiple backports created at the same time for the issue.

[2019-02-03 15:54] pitrou commented on #12
@ewdurbin If `pull_request.setkey('number')` creates a unique key (I'm not acquainted with the Roundup DB layer), then the solution looks reasonable on the principle (and pretty much idiomatic, IMHO). But you probably shouldn't re-do `prs.append(pr)` if the PR was already there?

[2019-02-06 16:29] terryjreedy commented on #1
The current state relative to 'b.p.o metatracker' is a mess and that b.p.o, the devguide, and psf-infra-meta all need changes (by someone with authority to do so consistently on all three).

1. Point b.p.o sidebar to this tracker.  The b.p.o sidebar was actually updated to https://github.com/python/psf-infra-meta.  I believe that this was fairly recent, and a mistake.  https://github.com/python/ps

[2019-02-06 16:36] terryjreedy commented on #1
https://psf.upfronthosting.co.za/roundup/meta/ currently resolves to a blank page with no error message. The old issues, with /issuennn, are not accessible either.  Update: it eventually timed out after a few minutes.

[2019-02-08 03:10] ned-deily opened #29 "Changes to issues result in new noticeable delays for the web page to update."
See discussion at https://discuss.python.org/t/bugs-python-org-slowing-down/850/.  My guess is that something changed when the server was moved.  If you bring up the #python-dev IRC channels, the updates there appear much faster than on the web browser.  This didn't used to be the case and the delay is long enough to be annoying.

@ewdurbin

[2019-02-08 08:06] matrixise opened #30 "Reminder: Copyright 2019"
in the footer of bpo, the current copyright is 1990-2018.
just a reminder for 2019

[2019-02-11 19:21] ewdurbin commented on #29
This appears to be related to the speed of sending emails over SMTP.

Previously there was a local postfix instance handling outbound emails, so connection/submission/confirmation for each email to send was minimal. On an issue that will notify N participants, the request will take O(N) longer than before to send all the emails.

I’ll look into configuring the postfix that’s configured for inbound

[2019-02-11 19:29] ewdurbin commented on #29
Confirmed and have a working solution. Will implement it this evening.

[2019-02-11 20:00] ewdurbin commented on #29
This is resolved. I thought I had a meeting that I don't have :)

[2019-02-11 20:00] #29 closed, assigned to nobody

[2019-02-11 20:12] ned-deily commented on #29
Thanks, @ewdurbin!

[2019-02-16 08:07] ned-deily opened #31 "Add "release-blocker" autonosy entry for 3.8 release manager"
b.p.o knows to _autonosy_ a release's release manager when an issue's priority is set to **release-blocker**.  The 3.8 release manager, @ambv, needs to be added.

It looks like the required change (untested!) to https://hg.python.org/tracker/python-dev is:
[code]

[2019-02-16 08:13] ewdurbin commented on #31
I should update the hg.python.org repo to note that tracker configs have moved to https://bitbucket.org/account/user/python/projects/BPO...

Anywho, this is done and will be picked up on next run of salt. https://bitbucket.org/python/tracker-cpython/commits/865bd3d5b2b496c213eb2e3acaaaaf3018a0b1a7

[2019-02-16 08:13] #31 closed, assigned to ewdurbin, ezio-melotti

[2019-02-16 08:14] ewdurbin commented on #30
Ref: https://bitbucket.org/python/tracker-cpython/commits/c434217990a88ca93e224f916ef0c542ccd8c4c2

[2019-02-16 08:14] #30 closed, assigned to nobody

[2019-02-16 08:22] ned-deily commented on #31
Thanks!  FYI, I found the references to hg.python.org in https://wiki.python.org/moin/TrackerDevelopment (which is linked to from the bugs.python.org sidebar) and in https://github.com/python/docker-bpo README.md

[2019-02-16 08:22] ewdurbin commented on #31
Thank you for the references! I'll get those updated.

[2019-03-07 20:29] andresdelfino opened #32 "Cannot open nosy list"
When clicking "list" on a bug to check the list of experts, I see this: https://imgur.com/a/Ttk04vW Same happens on Firefox.

On Zulip (https://python.zulipchat.com/#narrow/stream/174027-general.2Fhelp/topic/Unable.20to.20use.20nosy.20list.20on.20bpo/near/160231750), SilentGhost commented :

[2019-03-07 22:11] terryjreedy commented on #32
The imgur link gives a blank image.  A description is more permanent and reliable.

What I see on Windows/Firefox is a popup window titled Nosy help with this url:
https://bugs.python.org/user?@startwith=0&@template=help&properties=username,realname,address&property=nosy&form=itemSynopsis&type=checkbox&@sort=username&@pagesize=50
This url searches registered bpo users.  I am not sure what it is me

[2019-03-12 22:36] Mariatta commented on #32
Confirming that it doesn't seem to work.

This is the popup I'm seeing:

![Screen Shot 2019-03-12 at 3 35 55 PM](https://user-images.githubusercontent.com/5844587/54240863-8cf6f700-44dc-11e9-8099-72d7a5a016d4.png)

[2019-03-15 17:39] ashwanidv100 opened #33 "Add Auto Import extension for Python for VS Code"
I think there is many auto import extension, but not for Python, which is very extensive for work with VS Code. I am sorry if this feature is already suggested, but like to contribute if it is in development. Please do share some info. if this is already resolved, and I didn't find any other place to report this.

[2019-03-15 17:50] Mariatta commented on #33
This tracker is for issues related to the bugs.python.org issue tracker, not for Python for VS code.
I think this is the repo for Python VS code extension https://github.com/Microsoft/vscode-python.
Thanks.

[2019-03-15 17:50] #33 closed, assigned to nobody

[2019-03-15 18:02] ashwanidv100 commented on #33
Thanks Mariatta, to share the link !

[2019-03-21 15:31] hannob opened #34 "XSS on 404 page of bugs.python.org"
There's an XSS on the error page of bugs.python.org:
https://bugs.python.org/%3Cimg%20src=x%20onerror=alert%281%29%3E

(Not sure if this is the right place to report it, I already reported it to the python bugtracker itself despite it having no proper category for it https://bugs.python.org/issue36391 )

[2019-03-22 16:49] JulienPalard commented on #34
Hi @hannob! Thanks for reporting!

Looks to come from:
[code]

may be fixed using [cgi.escape()](https://docs.python.org/3/library/cgi.html#cgi.escape).

Not sure how to do a pull request on this, @ewdurbin @ezio-melotti?

[2019-03-22 16:57] ewdurbin commented on #34
bugs.python.org branch at https://bitbucket.org/python/roundup/src/bugs.python.org/, and should likely be filed at issues.roundup-tracker.org as well

[2019-03-22 18:41] JulienPalard commented on #34
@ewdurbin It looks like I don't have the rights to push on this repo.

I'm proposing:

[code]

[2019-03-22 18:46] JulienPalard commented on #34
ref: https://issues.roundup-tracker.org/issue2551035

[2019-03-22 19:31] ewdurbin commented on #34
imported, applied, deployed, confirmed: https://bitbucket.org/python/roundup/commits/51682dc2cd7e28421d749117c25bec58f632ee5f
![Screen Shot 2019-03-22 at 2 31 46 PM](https://user-images.githubusercontent.com/1200832/54848429-3beebc00-4caf-11e9-8bb1-6ccc03bbb8fd.png)

[2019-03-22 19:31] #34 closed, assigned to nobody

[2019-04-06 10:12] fgeek commented on #34
@hannob Did you request a CVE identifier for this vulnerability?

[2019-04-06 10:21] hannob commented on #34
No, after my last experiences with CVE assignments I decided that I'll just stop caring about it. If you care about it feel free to try to assign one. I posted it to oss-sec and sometimes this causes other people to request CVEs.

[2019-04-06 10:45] fgeek commented on #34
Alright. CVE requested via https://cveform.mitre.org/. Have a nice weekend.

[2019-04-06 19:53] fgeek commented on #34
Use CVE-2019-10904.

[2019-04-26 11:16] ericvsmith opened #35 "Commas in username causes error in nosy list"
User "Oliver Too, Eh?" created https://bugs.python.org/issue36727.

Because of the comma in the username, I couldn't reply to the issue via the bpo UI. It gave me an error: "property nosy: 'Oliver Too' is not a user.", then reformatted the nosy list as "Eh?,Oliver Too,docs@python,eric.smith,xtreak". I tried various combination of quotes and escape backslashes, to no avail. I ended up dropping the

[2019-05-01 20:01] matrixise opened #36 "Add X-Roundup-issue-number when send an email"
Because I would like to sort my incoming emails or follow an issue, I need to search on the subject field. I would like to propose a new header for the email, just the number of the issue. Do you think it is possible?

I don't know where the repository is, but maybe I could submit a patch.

Thank you

[2019-05-16 22:18] rouilj commented on #6
Sending email is part of the tracker config/code and a not a core feature of roundup. The decision to send/not send email is coded in (the classic tracker's) nosyreactor.py. Also the standard nosyreactor.py IIRC only sends email if there is a message. An email just for  change in the nosy list sounds like there is a custom reactor sending it.

[2019-05-16 22:28] rouilj commented on #20
I think you are describing: https://issues.roundup-tracker.org/issue2550831

[2019-05-16 22:34] rouilj commented on #26
For the double @action issue, See:
'''
changeset:   5294:3e740c65510e
user:        John Rouillard <rouilj@ieee.org>
date:        Thu Sep 28 16:48:52 2017 -0400
files:       website/issues/html/page.html
description:
Fix double @action failure when you do a full text search and then
attempt to show an issue. The original action="#" included the searches
@action in the url and the show issue include

[2019-05-16 22:37] rouilj commented on #28
@ewdurbin  this is a bug. See:
[code]
https://sourceforge.net/p/roundup/code/ci/8e3df461d316

[2019-05-16 22:42] rouilj commented on #35
See:

  https://issues.roundup-tracker.org/issue2550921

for suggested change. Specifically https://issues.roundup-tracker.org/msg5936

[2019-05-16 22:53] rouilj commented on #36
This is currently configured in the code. Specifically roundupdb.py in send_message. Search for X-Roundup. This would be good to add upstream. I am actually surprised it's not there already.
Opened: https://issues.roundup-tracker.org/issue2551043

However I suggest X-Roundup-issue-id rather than number. The field that holds the number is id, so this makes sure that the header name won't collide wi

[2019-05-21 20:09] ewdurbin commented on #7
A GitHub application managed by the python organization has been created with the name `bugs.python.org` and configured as directed above.

[2019-06-01 17:39] rouilj commented on #36
FYI, this feature has been added upstream. See https://issues.roundup-tracker.org/issue2551043 for
details on X-Roundup-Issue-Id: id# header. It still needs to be applied on bpo.

[2019-07-12 16:22] rouilj opened #37 "Crash bug under python 3 in https://hg.python.org/tracker/python-dev/file/tip/extensions/timestamp.py"
I use this bit of code in my own tracker:
https://hg.python.org/tracker/python-dev/file/tip/extensions/timestamp.py#l6
This crashes under python 3 with the latest roundup because time.time() returns
a float and not an int.

Under python2, this code works. But it does not work under python 3.
E.G.
[code]

Changing "i" to "f" seems to fix the issue in python3 and is backwards compatible to python 2.

[2019-07-12 16:57] rouilj commented on #37
It turns out that a couple of other string/byte conversions are needed if you are running this
code under python 3. This code will only work with the newest roundup that supports python3:

[code]

-- rouilj

[2019-07-15 11:11] vstinner opened #38 "bugs.python.org emails use Sender and From of two different domains"
All bugs.python.org emails are now marked as spam by Google in my Gmail account.

I guess that the issue is related to bug #10

For something like 1 or 2 weeks, **all** emails coming from bugs.python.org are marked as spam. Even if I'm marking all these emails as non-spam, new ones continue to be marked as spam. I also added report@bugs.python.org to my Gmail contacts, it didn't help.

Is there a

[2019-07-15 11:20] vstinner commented on #38
I failed to find the production configuration of bugs.python.org server. It doesn't seem to be in https://bitbucket.org/python/tracker-cpython nor https://hg.python.org/tracker/roundup/ (branch "bugs.python.org").

Who runs bugs.python.org? It sems to be watched bug the Python Infrastructure team at least, since it's listed at: https://status.python.org/

[2019-07-15 12:05] vstinner commented on #38
@ewdurbin wrote me on IRC:

I contacted the IT support of my employer (Red Hat) to see if they can do something on their side.

[2019-07-19 08:54] omicron-b opened #39 "New user confirmation email abuse"
**Describe the bug**
Spammers create a new user with spam instead of username, really long string including emojis.
As a result, anyone receives spam from legitimate email as a registration confirmation.

**To Reproduce**
I did not try to reproduce the issue.

**Expected behavior**
Username string should be limited in length and characters.

**Screenshots**
![screenshot](https://user-images.github

[2019-08-07 00:30] rouilj commented on #39
Take a look at: https://rouilj.dynamic-dns.net/fossil/roundup_sysadmin/artifact/b846879c85b5bbd1 . The userauditor.py includes:

[code]

in the module and adds:

[code]
inside  audit_user_fields(). The regexp may need to be changed to match alphabetic in different languages (maybe \w). Length limitation can be had by replacing '+' with {1,20} for example.

While this doesn't prevent somebody from

[2019-08-07 00:47] rouilj commented on #35
See also: https://github.com/python/bugs.python.org/issues/39. One of the solutions to that issue will also solve this issue.

[2019-08-08 17:02] Mariatta commented on #7
I still have not figured out how to register/login to bpo using GitHub account 😟
Has the patch been merged? @ammaraskar @ezio-melotti?

[2019-08-08 17:06] ammaraskar commented on #7
@berkerpeksag might also be able to answer, I think they mentioned this was disabled for some reason.

[2019-08-08 20:11] berkerpeksag commented on #7
It wasn't fully deployed for end users. By default, GitHub API doesn't include email addresses of users even if we set the OAuth scope correctly (users need to make their email address public on GitHub or we need to make a request to another endpoint in order to get their email address)

I'm not going to work on it until I get a response from Barry regarding PEP 595.

[2019-12-09 11:26] vstinner opened #40 "Please add new categories in the bug tracker"
Hi,

Would it be possible to add the a "C API" category to the bug tracker? It's surprising to not have the category in the bug tracker, since we have the category in blurb for NEWS entries.

Victor

[2019-12-16 21:22] vstinner opened #41 "Login via Google doesn't work"
@isidentical wrote at https://github.com/python/cpython/pull/17612#issuecomment-566184381 :

[2019-12-16 21:45] isidentical commented on #41
Thanks for reporting it @vstinner. This is the message I get when i try to login;
![image](https://user-images.githubusercontent.com/47358913/70945548-7df23600-2066-11ea-8892-d4cf805d65d2.png)

[2019-12-17 15:08] ewdurbin commented on #41
Two issues found in triaging this.

1) error emails were being suppressed due to temporary bouncing, which has now been resolved
2) it appears that something changed in the response from Google that the [oic_login.py extension is not handling](https://bitbucket.org/python/tracker-cpython/src/daf2e38b1b6a35eeb2a6e296bae2779b427182e5/extensions/oic_login.py?at=default#lines-101:102). the `result` is

[2019-12-17 15:26] ewdurbin commented on #41
Comparing what's there to the docs for the version of pyoidc we're using it looks like there are some changes that should be considered:

https://github.com/OpenIDC/pyoidc/blob/v0.14.0/doc/examples/rp.rst#authorization-code-flow

[2019-12-22 19:32] isidentical commented on #41
https://mail.python.org/archives/list/python-dev@python.org/message/BXWXJYB2NDDRCM7CDWL2X3IWVDW7ZE7D/

[2019-12-26 16:28] ewdurbin commented on #41
https://bitbucket.org/python/tracker-cpython/commits/1693e3184d065f9b6eb8b5072b5003cbcafba813 appears to have resolved it using the relying party example code from https://github.com/OpenIDC/pyoidc/blob/v0.14.0/doc/examples/rp.rst#authorization-code-flow

[2019-12-26 16:38] isidentical commented on #41
Thanks @ewdurbin, I can confirm it is working now.

[2019-12-26 16:46] freddrake commented on #41
It's not working for me.

Using my fdrake@gmail.com address, I get the message "There is already an account for fdrake@gmail.com" when returning to bpo.

The Launchpad / Ubuntu One login works just fine.

[2019-12-26 16:53] ewdurbin commented on #41
@freddrake it appears that your Google login was disassociated from your account 2015-04-06. was login with google working for you up until ~2 weeks ago when this issue began?

I think that what you're running into is independent of this error.

[2019-12-26 18:27] freddrake commented on #41
No, it wasn't.  Guess it's different.

[2019-12-26 18:27] #41 closed, assigned to nobody

[2019-12-26 18:30] freddrake opened #42 "Google authentication not working for existing account without configured Google OpenID"
I don't see any way to set up authentication via Google on bpo at this time.  Clicking the Google link appears to be working on Google's end; it offers a "Choose an account" dialog, and records that I've used this with python.org in my security events, but bpo doesn't associate the Google authentication with my account.

Is there another way to associate a Google authentication with my bpo account

[2019-12-26 20:17] berkerpeksag commented on #42
I remember this was also an issue when I initially implemented (now reverted due to regressions) GitHub login support. I had to manually check existing accounts during authentication. We may need to do the same for Google login.

[2020-01-25 15:21] corona10 opened #43 "Copyright should be updated."
AS-IS: Copyright © 1990-2019, Python Software Foundation
TO-BE: Copyright © 1990-2020, Python Software Foundation

Happy new year :)

[2020-01-25 15:21] corona10 commented on #43
@Mariatta

[2020-01-25 15:25] tirkarthi commented on #43
cc: @ezio-melotti

[2020-01-25 19:17] gpshead commented on #43
Copyright statements do _not_ need to have their dates updated. This is a common misconception.
Doing that is needless churn. But you shouldn't take _my_ word on legal questions, _only_ that a PSF lawyer. @VanL

[2020-01-28 19:33] native-api opened #44 "Merge bugs.python.org accounts"
I have 2 accounts linked to 2 e-mail addresses. This is rather inconvenient (especially when replying by e-mail) and I'd rather have them merged into one, ideally linked to both e-mail addresses.

Is this possible? Who should I contact on this matter?

[2020-01-29 06:01] opensource-assist opened #45 "Replace the roundup server with a better alternative"
The current roundup server at bugs.python.org is not really satisfying.
  - It has a very old-fashioned UI design.
  - It lacks many features available in other alternatives.

It's very nice that you replace roundup with:
- GitHub issues
- [Bugzilla](https://www.bugzilla.org)(as a best open-source choice)
- [Jira Software](https://www.atlassian.com/software/jira)(the most powerful one, which is [f

[2020-01-29 06:13] tirkarthi commented on #45
Using GitHub issues was already discussed with https://www.python.org/dev/peps/pep-0581/ . Roundup is critical for development with high amount of metadata. Moving to another issue tracker needs a substantial discussion and approval from core devs along with PEP, docs update, etc.

[2020-01-29 06:30] Mariatta commented on #45
Decision has been made to move to GitHub Issues, which is what [PEP 581](https://www.python.org/dev/peps/pep-0581/) is about.

Roundup and b.p.o remain crucial tools for core Python development and have been maintained for so long by lots of volunteers.
It was not necessary to describe it as "just a joke".
The PSF's [Code of Conduct](https://www.python.org/psf/conduct/) applies in this issue track

[2020-01-29 06:30] #45 closed, assigned to nobody

[2020-01-29 07:09] opensource-assist commented on #45
@Mariatta

The action is the point, not the decision.
I know that GitHub lacks some functionalities that Roundup provides but Jira Software takes over all of them.

Wasn't it?. Just 'take' a look at what powerful features Jira Software or YouTrack bring compared to Roundup. Get used to them and you'll understand what I meant.
I'm not affiliated with any of these services. Anyway you're not gonna p

[2020-01-29 07:29] brianquinlan commented on #45
@opensource-assist You are being (possibly unintentionally) disrespectful. In particular:
1. some core cpython developers are also Roundup developers and their efforts over the years have been invaluable and definitely not "a joke"
2. you are assuming that we aren't aware of other bug tracking solutions - we are and @Mariatta provide an evaluation of them in PEP 581.

In any case, as @Mariatta sai

[2020-01-29 07:58] opensource-assist commented on #44
@native-api
The underlying roundup tracker doesn't support such a feature.
You have a few options:
- Just abandon one of the accounts.
- Open an issue on bpo itself and wait for one of the core developers to answer.(or just wait in here for them)

Even if they'd do such a thing, it requires manual tampering with the database backend of roundup.

[2020-01-30 15:20] damani42 opened #46 "Can't create an account."
I have tried to create an account multiple times today, but I didn't received the mail confirmation. I have checked my spam folder. The username is damani.

[2020-01-30 15:56] stratakis commented on #42
When I try to login with google's login I get the error `There is already an account for cstratak@redhat.com`.

I cannot comment or do anything on bpo at this point.

[2020-01-30 17:38] Mariatta commented on #46
I did not see the user damani in b.p.o, so it wasn't created.

Was there error message?

[2020-01-30 17:41] Mariatta commented on #43
https://bitbucket.org/python/tracker-cpython/pull-requests/3/change-copyright-year/diff

[2020-01-30 20:58] berkerpeksag commented on #43
Mariatta's PR has been merged. Closing this as 'fixed'.

[2020-01-30 20:58] #43 closed, assigned to nobody

[2020-01-30 22:44] damani42 commented on #46
No error, I'm redirect to this page:

https://bugs.python.org/user?@template=rego_progress

But I have no mail. I have just tried again right now.

[2020-01-31 12:38] corona10 opened #47 "Developer's guide menu looks strange."
<img width="351" alt="스크린샷 2020-01-31 오후 9 37 39" src="https://user-images.githubusercontent.com/5110323/73539953-f889e000-4471-11ea-9682-c4f18aac364e.png">

Seems to be related with https://bitbucket.org/python/tracker-cpython/pull-requests/3/change-copyright-year/diff#Lhtml/page.htmlF74

cc @Mariatta

[2020-02-01 02:57] berkerpeksag commented on #47
Thanks for the report! It should be fixed in the next deployment.

[2020-02-01 02:57] #47 closed, assigned to nobody

[2020-02-01 11:36] Ferr00 opened #48 "pandas turning into numpy on recursion with large numbers"
[code]

[2020-02-01 16:29] Mariatta commented on #48
This issue tracker is for issues related to bugs.python.org, which is the issue tracker for CPython.

Pandas and numpys are both third party libraries. If you think there is bug with pandas, please file it in pandas own issue tracker, not here.

[2020-02-01 16:29] #48 closed, assigned to nobody

[2020-02-03 09:04] damani42 commented on #46
I have still the problem.

[2020-02-05 10:21] vstinner commented on #46
@damani42 told me on IRC that he only filled 3 fields in the registration form:

* login name
* login password
* email address

I asked because once there was an issue on email confirmation for users who filled the homepage (URL) field.

[2020-02-05 13:48] vstinner commented on #46
On bugs.python.org side, multiple emails are logged as sent. It may be an issue on @damani42 side: maybe his email server dropped these emails, maybe seen as spam.

[2020-02-05 15:15] vstinner commented on #42
@stratakis account is: https://bugs.python.org/user23615

[2020-02-05 15:22] vstinner commented on #42
I fixed @stratakis issue with him: we reset his password.

[2020-02-05 16:31] freddrake commented on #42
After resetting my password, the Google login almost works and switching my "main" email address to another (keeping my gmail.com address on the list of alternates)... it no longer presents an error, but generates a new user for me instead (https://bugs.python.org/user33696).  The new user has my gmail.com address, and is associated with the Google login even after switching my address back on my

[2020-02-06 02:09] kj7rrv opened #49 "Why?"
Why do we not use GitHub issues for everything? Don't they integrate automatically with everything else?

[2020-02-06 02:13] Mariatta commented on #49
This is being addressed in [PEP 581](https://www.python.org/dev/peps/pep-0581/) and [PEP 588](https://www.python.org/dev/peps/pep-0588/)

[2020-02-06 02:14] #49 closed, assigned to nobody

[2020-03-10 16:10] isidentical opened #50 "Account merging"
I have always active 2 google sessions and I sometimes accidentally choose the other one to login. Is there a way to access one account from multiple mails or merge two accounts into one.

[2020-03-10 20:24] rouilj commented on #44
@opensource-assist merging acounts is outlined in:

   https://wiki.roundup-tracker.org/MergeUserAccounts

This allows you to merge the secondary account into the primary account and retire the
secondary account. Email coming from the secondary account address will be associated
with the primary account. (Note: roundup has always allowed multiple email addresses to be
assigned to a single account.

[2020-03-10 20:50] rouilj commented on #50
There is a way to associate your primary account with multiple email addresses. Roundup
has always had that capability.

If you have two roundup accounts, primary (the one you want to keep) and secondary (to be disabled and "merged" into the primary):

1) on the secondary account, record your email address. If your address is:
    myaddress@mydomain.com, change it to myaddress+bpodisabled@mydomain

[2020-04-06 11:53] fatmafarah opened #51 "I can't uninstall python"
I need to uninstall python because all of my environment is in chaos and to install it then.
I deleted python and anaconda from my programs but in the cmd when I write python to make sure it is deleted I still have this message error

Python path configuration:
  PYTHONHOME = (not set)
  PYTHONPATH = (not set)
  program name = 'python'
  isolated = 0
  environment = 1
  user site = 1
  import site

[2020-04-06 12:05] cjw296 commented on #51
This issue tracker is for problems experienced using bugs.python.org, not problem you have using Python. Please try another python mailing list, such as python-list.

[2020-04-06 12:05] #51 closed, assigned to nobody

[2020-05-19 12:47] isidentical commented on #50
Thanks @rouilj

[2020-05-19 12:47] #50 closed, assigned to nobody

[2020-07-07 08:13] manishprivet opened #52 "Can't register on site"
I tried registering on site by my email address.
I got the verification email, but upon clicking on the link, it's showing errors.
A screenshot is attached below.

![bpo error](https://user-images.githubusercontent.com/54291836/86745203-d0715f00-c057-11ea-9c67-3aa4e094bdc0.jpg)

[2020-07-07 15:02] rouilj commented on #52
Hello Manish:

This error is reported when creating a new user with an invalid homepage url.
It must be an http or https url.

When you registered, what did you fill in as your homepage url?
It is the line right above the required email address field in the registration form.

-- rouilj

[2020-07-09 05:35] darkscarletspeedster opened #53 "numpy library not working with Python38 Interpreter"
The numpy imports is not recognized using Python Interpreter 38(64 bit) but works fine for 38-32(32 bit), my system 64-bit system, it gives error: os.add_dll_directory(extra_dll_dir)
AttributeError: module 'os' has no attribute 'add_dll_directory'

[2020-07-09 06:38] darkscarletspeedster commented on #53
I installed a 64-bit installer that solved it for me so closing this issue

[2020-07-09 06:38] #53 closed, assigned to nobody

[2020-07-11 00:55] rouilj commented on #52
Ping Manish.

[2020-07-11 09:56] manishprivet commented on #52
Yes I did check it, and tried registering again, but the error appeared. I finally settled with signing in by OAuth.

[2020-07-11 20:20] aeros commented on #53
@darkscarletspeedster For future reference, this repo's issue tracker is for reporting bugs for the *site* bugs.python.org. For actual bugs related to CPython, please file a bug report on bugs.python.org.

[2020-07-11 20:58] rouilj commented on #46
@vstinner was the issue with the homepage field fixed? It looks like: https://github.com/python/bugs.python.org/issues/52 may be caused by homepage url validation. I looked at the tracker and on first glance at least the detector looks
valid.

-- rouilj

[2020-07-11 21:00] rouilj commented on #40
Vstinner, do you know who is supposed to ok requests like this? Adding it should be trivial.

[2020-07-13 23:46] andresdelfino commented on #32
Tried to test this again to see if the issue can be closed, but I don't see any "list" button. Perhaps that UI was removed?

[2020-07-25 14:51] #52 closed, assigned to nobody

[2020-07-31 11:35] nmaynes commented on #46
I ran into a similar problem today when trying to register. Received the homepage url validation error. I provided a value like, blog.mysite.com instead of https://blog.mysite.com. The verification link failed until I went back to the registration page and updated the homepage value. I am happy to help if someone can point me to where the code is to make changes. I would lean towards front end val

[2020-07-31 14:09] rouilj commented on #46
The registration page makes no changes to the database, so it's not subject to the backend validation.
Once the registration is accepted the database changes happen and the validation runs.

There are four ways to make this better in degree of difficulty.

1) Remove the homepage from the registration page html/user.register.html. Near line 49 in:
    https://hg.python.org/tracker/python-dev/file/0

[2020-07-31 14:42] nmaynes commented on #46
I think the first option makes the most sense. A home page is not required to create an account and can cause problems if the value is filled in with errors that are difficult to understand for new users. Unless this is being used as a kind of new user filter, it is better, at least in my humble opinion, to ask for the required fields at sign up and allow the user to update once registered.

So is

[2020-07-31 18:47] rouilj commented on #46
@Mariatta @ezio-melotti  is there a git clone of the roundup bpo tracker that nmaynes can do a pull request against?

Alternatively I can talk a maintainer (maybe ezio has a few cycles?) through the change that is needed if it is acceptable.

-- rouilj

[2020-07-31 19:41] Mariatta commented on #46
I think this is the repo now? https://github.com/psf/bpo-roundup
It seems like all info in https://wiki.python.org/moin/TrackerDevelopment about mercurial are all outdated.

[2020-07-31 19:46] Mariatta commented on #2
I have just discovered the repo https://github.com/psf/bpo-roundup today. Is this now the official codebase for bpo, and it's no longer on mercurial? It would be great if all relevant documentation can be updated. For example, the page https://wiki.python.org/moin/TrackerDevelopment seems outdated.
We may also need to consolidate the issues in this repo (python/bugs.python.org) and transfer them t

[2020-07-31 19:55] berkerpeksag commented on #2
bpo-roundup is our fork of Roundup. Repository for bugs.p.o's Roundup instance is located at https://github.com/psf/bpo-tracker-cpython

[2020-07-31 20:02] nmaynes commented on #46
I ran into the outdated instructions today. Tried to read through the text files in the new repo and change the docker image so it could run the appropriate scripts but kept running into issues.

I have a few cycles over the next two weeks that I would be happy to contribute to updating the docs/Docker image. I probably need a bit of guidance on how the git repo is structured compared to the Track

[2020-07-31 20:08] Mariatta commented on #46
It seems the correct repo is at https://github.com/psf/bpo-tracker-cpython according to https://github.com/python/bugs.python.org/issues/2#issuecomment-667323839

[2020-07-31 20:20] berkerpeksag commented on #46
BTW, I've already set up my development environment and I can quickly remove the homepage field from `user.register.html`.

[2020-07-31 20:55] Mariatta commented on #2
Ok then should we retire this repo (python/bugs.python.org) and transfer all open issues to psf/bpo-tracker-cpython and start pointing people there? It's confusing that we have the two repos right now.
Note that only those with write access to both python/bugs.python.org and psf/bpo-tracker-cpython can transfer issues, and I don't have such privilege.

[2020-07-31 21:17] berkerpeksag commented on #2
Sounds good to me. I can move issues over to the new repo. Archiving/redirecting it to the new location may require someone from the infra team.

[2020-07-31 21:21] bitdancer commented on #2
No, I don't think so.  I haven't been involved in tracker development
for a while, so I may be out of date, but this is my understanding:

Our roundup setup comes in two pieces: there is our modifications to the
base roundup code (our fork, as Berker mentioned), and there is the code
that constitutes our *instance*, which is a set of template and
code files that implement bugs.python.org on top of

[2020-07-31 23:24] berkerpeksag commented on #2
Ezio can correct me if I'm wrong, but I think we are close to ditching our Roundup fork so perhaps we can now combine meta tracker and source code of bugs.p.o instance in the same repo.

[2020-07-31 23:35] rouilj commented on #46
Looks like you gal/guys have it in hand. FYI I am going to unwatch this issue so @rouilj me if you need assistance.
I may try cloning the bpo tracker instance and give it a whirl with roundup 2.0.0 running under python 2. I am interested
in getting the openid stuff into roundup core or wiki.

[2020-07-31 23:41] Mariatta commented on #2
Even if you're still keeping Roundup fork, I just think the concept of meta-tracker is less relevant on GitHub. You can always transfer issues to the other repo easily if necessary. Additionally you're able to cross reference other GitHub repo in your PR.

Having this repo as the "meta-tracker" right now feels odd to me since us core devs aren't really the maintainers of roundup or b.p.o. If anyth

[2020-07-31 23:57] berkerpeksag commented on #46
Fixed in https://github.com/psf/bpo-tracker-cpython/commit/515d0ad00bf2cb9574e721c32e8b14d532e3bd36. I've also managed to reproduce the problem locally by filing the homepage field with an invalid input and verified that the proposed fix by John works as expected. IIRC, the fix should be online in an hour or so. Thank you all!

[2020-07-31 23:57] #46 closed, assigned to berkerpeksag

[2020-08-01 00:06] berkerpeksag commented on #40
It looks like the C API component has already been added:

![image](https://user-images.githubusercontent.com/26338/89089002-cff08d80-d3a3-11ea-9a37-9766aebfe3d8.png)

Please reopen this or create a new issue if you want to add another component.

[2020-08-01 00:06] #40 closed, assigned to nobody

[2020-08-01 00:23] berkerpeksag commented on #6
I think this can be implemented in https://github.com/psf/bpo-tracker-cpython/blob/master/detectors/sendmail.py I'll see what can I do.

[2020-08-01 12:25] berkerpeksag commented on #35
@rouilj unfortunately changing `userauditor` will lead to the same UX issue as in #46. The user will still see the following message:

Would overriding `RegisterAction` and making something similar to:

https://github.com/psf/bpo-roundup/blob/68573d196f9a01786414d3b235252b9c857c3e08/roundup/cgi/actions.py#L1053-L1061

before:

https://github.com/psf/bpo-roundup/blob/68573d196f9a01786414d3b235252b9

[2020-08-01 12:31] berkerpeksag commented on #35
In https://github.com/python/bugs.python.org/issues/39#issuecomment-518892479, you've proposed a similar solution, but I wonder if it's possible to trigger auditors without manually validating the input via `self.client.parsePropsFromForm(create=1)`.

[2020-08-01 13:09] berkerpeksag commented on #20
I've tried to fix this before: https://mail.python.org/pipermail/tracker-discuss/2016-June/004112.html @rouilj is https://sourceforge.net/p/roundup/code/ci/425b4c4fc345/ the commit that fixes this bug?

[2020-08-01 14:38] #20 closed, assigned to berkerpeksag

[2020-08-01 14:41] berkerpeksag commented on #20
Pushed a fix that allows removing retired queries created by user from listing in "Your Queries". Feel free to suggest any improvements to the wording.

[2020-08-01 14:48] berkerpeksag commented on #32
Correct, the list popup has been removed in https://github.com/psf/bpo-tracker-cpython/commit/c0540d007120ba5a2b8c740941cc920e968bfcfd.

[2020-08-01 14:48] #32 closed, assigned to nobody

[2020-08-01 14:59] andresdelfino commented on #32
@berkerpeksag thanks!

[2020-08-01 15:00] berkerpeksag commented on #36
The upstream feature has been released in Roundup 2.0. We are going to get it for free when we ditch out fork. Closing this for now.

[2020-08-01 15:00] #36 closed, assigned to nobody

[2020-08-01 15:05] berkerpeksag commented on #28
The fix John pointed out has also been applied to Roundup 1.6.1 and since our fork has been upgraded to 1.6.1, this issue can be closed now:

https://github.com/psf/bpo-roundup/blob/68573d196f9a01786414d3b235252b9c857c3e08/CHANGES.TXT#L25-L29

[2020-08-01 15:05] #28 closed, assigned to nobody

[2020-08-01 15:13] berkerpeksag commented on #38
Is there anything else we can do or can this be closed?

[2020-08-01 15:15] rouilj commented on #35
Hi Berker:

Sorry for the delay, time zones.

In message <python/bugs.python.org/issues/35/667523969@github.com>,
Berker Peksag writes:

True, but the userauditor needs to change so the user can't change the
username from the user details screen. you could add client side
validation to the user.item.html template to mirror the server side
userauditor validation. However in this case, failure repor

[2020-08-01 16:13] rouilj commented on #20
In message <python/bugs.python.org/issues/20/667529713@github.com>,
Berker Peksag writes:

Yes, but from the hg history it looks like c8bf4e9912ed and
1bd252244501 also changed
share/roundup/templates/classic/html/query.edit.html.

You might want to see if copying
share/roundup/templates/classic/html/query.edit.html from a 1.6.1
release over the existing query.edit.html does the trick.

I doubt it

[2020-08-01 22:21] berkerpeksag commented on #35
Ah, yes, I see that `ConfRegoAction` calls `confirm_registration`:

https://github.com/psf/bpo-roundup/blob/68573d196f9a01786414d3b235252b9c857c3e08/roundup/roundupdb.py#L108-L134

I think this is a pretty common operation and it seems to be happening for pretty much all the fields in the registration form. I've just tested that I can get the following message even if I tried to register with an e

[2020-08-01 22:30] #35 closed, assigned to berkerpeksag

[2020-08-01 22:32] berkerpeksag commented on #35
I've just pushed a slightly updated version of my inline patch in https://github.com/python/bugs.python.org/issues/35#issuecomment-667523969. We can continue discussing more general solutions here or somewhere else. Thanks!

[2020-08-01 22:37] berkerpeksag commented on #39
https://github.com/psf/bpo-tracker-cpython/commit/0136a274640680d8109fe86b013007627093de4c should mostly prevent cases showed in the original message. We can always tweak the validation rules to be more strict.

[2020-08-01 22:37] #39 closed, assigned to berkerpeksag

[2020-08-01 22:40] berkerpeksag commented on #4
https://bugs.python.org/setuptools/ gives me 404 and I don't think it's possible to archive a repository (or something similar) in hgweb. I'll just go ahead and close this issue :)

[2020-08-01 22:40] #4 closed

[2020-08-01 23:57] rouilj commented on #35
Hi Berker:

In message <python/bugs.python.org/issues/35/667594221@github.com>,
Berker Peksag writes:

Correct. At that point the registration stored in temp storage is
extracted and committed to the db where it will live forever more.

Don't forget we can't delete things once they are created in the real
database. Retired items still live in the db, just with the retired
flag so they don't show u

[2020-08-02 17:39] ezio-melotti commented on #2
https://github.com/psf/bpo-roundup contains the Roundup code + our changes in the bugs.python.org branch ("our fork").

https://github.com/psf/bpo-tracker-cpython is the instance used for https://bugs.python.org/
https://github.com/psf/bpo-tracker-roundup is the instance for https://issues.roundup-tracker.org/
https://github.com/psf/bpo-tracker-jython is the instance for https://bugs.jython.org/

[2020-08-03 19:30] #42 closed, assigned to berkerpeksag

[2020-08-03 19:34] berkerpeksag commented on #42
The fix should be deployed in an hour or so. Please let me know if you found anything weird.

[2020-08-03 19:36] #38 closed, assigned to nobody

[2020-08-03 19:38] berkerpeksag commented on #44
@rouilj can https://wiki.roundup-tracker.org/MergeUserAccounts be turned into a Coordinator-only custom action?

[2020-08-03 20:28] rouilj commented on #44
Hi Berker:

In message <python/bugs.python.org/issues/44/668205217@github.com>,
Berker Peksag writes:

It certainly could be. Note that it depends on the tracker. E.G. I
have a tracker with two nosy lists. So both would have to be modified.

At the moment those steps are theoretical only for the classic
tracker.  I haven't actually tried them. So we need to have somebody
verify that it works and d

[2020-08-03 20:47] berkerpeksag commented on #44
Nice, thanks!

That's true, it's definitely not a common request. I'll see what can I do about it.

[2020-08-10 09:52] #7 closed

[2020-08-10 09:56] berkerpeksag commented on #7
I've just re-pushed the patch with some modifications. I've already tested both Google and GitHub login supports locally. It should detect and associate existing bugs.python.org accounts with the same email address.

The only limitation is that the email address must be set to public in user's email settings at GitHub.

[2020-08-10 10:00] berkerpeksag commented on #37
Thank you for the heads up! I doubt we are gong to run bugs.p.o on Python 3 anytime soon and even if we want to do that, we'd need more changes than just the ones in the timestamp extension. I'll go ahead and close it for now.

[2020-08-10 10:00] #37 closed, assigned to nobody

[2020-09-10 12:31] wyz23x2 opened #54 "Don't link PR to bpo again if unlinked before"
If you mention an issue in a comment, it's linked to that issue. However, this can cause problems such as link/unlinking several times do to a typo of the issue number https://github.com/python/cpython/pull/22186.

[2020-09-23 09:39] Mohitkumar6122 opened #55 "Value error is showing in docset python (class)."
Error in docset :
**ValueError: 0 is not in list but 0 is present in list .** <br/> but in reality that element is present in list and code is showing correct output but showing error during **docset.testmod()**.

Here is link to my [code ](https://ideone.com/96ThlW).
[code]
Here is error it is showing in my local machine : https://i.ibb.co/7nR7MDD/Screenshot-from-2020-09-23-00-05-02.png.

Also th

[2020-09-23 12:21] berkerpeksag commented on #55
This is probably the least relevant place to report your problem :) We keep bugs and feature requests for bugs.python.org (the software that runs Python's bug tracker) here. Please use python-list or StackOverflow first. If it's really an issue with doctest module, you can create a bug report at bugs.python.org.

[2020-09-23 12:21] #55 closed, assigned to nobody

[2020-10-23 18:11] merwok opened #56 "Not receiving any email"
Hello!  I noticed this week that I don’t get email from bpo.

My profile is https://bugs.python.org/user7641

[2020-11-03 19:49] msuozzo opened #57 "GitHub OpenID email link error links to wrong settings page"
*Problem*: When I try to add my GitHub OpenID account to my existing bpo account, I see a banner that reads:

I have multiple emails in my GH account but on the Profile page, the `Keep my email addresses private` is unchecked and both of my emails have the indicator `Visible in emails`.

I believe this may be preventing me from showing up as having signed the CLA as the `check-python-cla` app show

[2020-11-03 21:00] berkerpeksag commented on #57
I think you also need to set your public email at https://github.com/settings/profile:

![image](https://user-images.githubusercontent.com/26338/98040051-58aa1a00-1e28-11eb-8106-6363f156e44c.png)

[2020-11-03 21:04] berkerpeksag commented on #57
Also, feel free to suggest alternative wording for that message. I'd be happy to make it more clear. Thank you!

[2020-11-03 21:16] msuozzo commented on #57
That worked! Thanks so much!

Would you be able to add the link to the main profile config since that also needs to be changed?

Maybe referencing `Public Email` at github.com/settings/profile instead of the settings/email one?

[2020-11-03 21:22] berkerpeksag commented on #57
Yes, that's definitely a good idea! The message comes from https://github.com/psf/bpo-tracker-cpython/blob/00d4e3f28c88811ed948796bf42825bc7f662bf2/extensions/oic_login.py#L316-L317. I'd be happy to review and merge a PR if you have the time.

[2020-11-03 21:34] msuozzo commented on #57
https://github.com/psf/bpo-tracker-cpython/pull/1

[2020-11-04 14:20] #57 closed, assigned to nobody

[2020-11-04 14:20] berkerpeksag commented on #57
Thank you!

[2021-03-08 08:13] eli-fin commented on #26
Ran into this issue (logged in with github once, but my email wasn't public, made it public and tried again, got this error).
Is there something I can do about it? Maybe like a manual step?

[2021-04-01 12:21] romikforest opened #58 "High cpu usage with asyncio streams"
Hi. I have high cpu usage using asyncio streams and connection pool.
Here is a simplified example https://github.com/romikforest/asyncio_streams_high_cpu_usage2

Thanks a lot in advance if you can take a look.

[2021-04-01 12:50] berkerpeksag commented on #58
Thank you for providing a reproducer, but unfortunately this isn't the correct place to report such issues. This is a meta tracker for bugs.python.org. You need to report this to https://bugs.python.org/.

[2021-04-01 12:50] #58 closed, assigned to nobody

[2021-04-01 18:30] terryjreedy commented on #58
Post to python-list for discussion first.  The reproducer involves multiple 3rd party packages, and a reproducer for bpo should only require stdlib modules.

[2021-04-04 15:08] gaurarpit12 opened #59 "Not an issue"
Not an issue

[2021-04-04 17:02] gaurarpit12 commented on #59
Not an issue!!

[2021-04-04 17:02] #59 closed, assigned to nobody

[2021-04-04 19:04] terryjreedy commented on #59
I presume you realized that in 3.x, input() returns a string.  In the future, please post questions about python code to python-list.  This repository and its issues are about revising or replacing the issue repository at https://bugs.python.org.

[2021-05-19 14:16] reob-info opened #60 "Annotations, Inheritance and circular reference"
Basically, I have:

[code]

What creates a circular reference.

It could be solved doing:

[code]

But in the annotation, I will get the class Sub without his annotations, methods and properties (the first definition is not updated in annotation after the redefinition).

Then, I suggest one of two possible solutions:

1. Add a way to forward declaration (it could be implemented by a new reserved w

[2021-05-19 14:39] reob-info commented on #60
The framework that we are developping depends strongly that I could get the correct type from annotation to create the correct object based on this.

If the annotation was updated pointing to the redefinition of the class, it will be enough.

Maybe this could be a third possibility to solve the problem.

I hope it could be handled as soon as possible, because change the definition to another class

[2021-05-19 15:42] ericvsmith commented on #60
This is the incorrect tracker for bugs in python.

You should search for "python type annotation forward reference". For example, use `list["Sub"]` ("Sub" as a string) and then call `typing.get_type_hints()`, to retrieve the actual type.

[2021-05-19 15:42] #60 closed, assigned to nobody

[2021-05-19 20:48] reob-info commented on #60
Thanks. I will try the solution that you suggested.

PS: For future reference: Where is the correct tracker for bugs in Python?

Where I should post?

I thought that was here because the URL (github.com/python/bugs.python.org) that says exactly it (bugs.pyhton.org), but I am available to send it to the correct address, if you can say me where.

Thank you again.

[2021-05-19 20:56] Mariatta commented on #60
@reob-info the current issue tracker for Python is at https://bugs.python.org

[2021-05-22 20:44] iritkatriel commented on #56
Me too. I stopped getting updates.

[2021-05-22 21:40] merwok commented on #56
It’s been better recently for me.

[2021-05-27 15:43] asottile opened #61 "linkifier does not understand 3.10+"
for example https://bugs.python.org/issue44246 -- this links to 3.1/ instead of 3.10/

[2021-05-27 19:40] iritkatriel opened #62 "Not receiving email from the bug tracker"
For about a week I am getting no email about updates to issues I nosy. I added a second email address to my account but this didn't help. I don't see the emails in either spam folder.

[2021-05-28 07:15] #61 closed, assigned to nobody

[2021-06-21 12:06] iritkatriel commented on #62
I changed the email address and it works (a @gmail.com address works, a @yahoo.com one stopped working).

[2021-06-21 12:07] iritkatriel commented on #62
For anyone else having issues, I found it useful to save a query showing "last actor" on issues I'm following:

https://bugs.python.org/issue?@columns=title,id,activity,actor,status&@sort=-activity&@filter=nosy&@pagesize=50&@startwith=0&nosy=34626&@dispname=My%20Updates

[2021-07-20 04:51] asedeno opened #63 "Can't log into bugs.p.o with Github account due to non-ASCII character in name"
When trying to log in, my name `Alejandro R. Sedeño` results in:
`'ascii' codec can't encode character u'\xf1' in position 17: ordinal not in range(128)`

That's not great. There's lots of good characters in Unicode besides what's in ASCII.
Also, `u'\xf1'` suggests bugs.p.o is still using python2? I'm told that's EOL.

[2021-09-10 11:37] pawamoy commented on #63
Same here because of the é in my name :sweat_smile::

![asciicodec](https://user-images.githubusercontent.com/3999221/132847666-08c90b36-4a17-42b2-be8b-ba033fe0ac91.png)

[2021-09-10 21:17] terryjreedy commented on #63
After being initially removed, 'u' prefix was added back to 3.x aid porting from 2.x.  I believe it will be removed some time.

bpo is scheduled to be replaced rather than updated.

[2021-09-13 08:38] vstinner opened #64 "Bug in the OAuth-based authentication: user logged as the wrong account"
Hi,

A bug has been identified and **fixed** in the OAuth-based authentication code used on the Python bug tracker bugs.python.org (BPO) to log in with GitHub, Launchpad or Google. Under some conditions, it was possible to be logged as another person account. We are only aware of a single user affected by the issue. We are not aware of any account takeover.

All bugs at bugs.python.org are public:

[2021-09-13 09:04] vstinner commented on #64
Bug announced to python-dev: https://mail.python.org/archives/list/python-dev@python.org/thread/CIXIB6EMN7HOPMXFJI7EBK7V7OPK4E7H/

[2021-09-13 09:07] vstinner commented on #64
Fixed by https://github.com/psf/bpo-tracker-cpython/commit/0a32e072aafca20c0bf51cf16fb6a7328cdd720a

[2021-09-13 09:07] #64 closed, assigned to nobody

[2021-09-14 22:29] asedeno commented on #63
You can use `u'string'` in python 3.x since it was added back, sure, and that was a good move, but it is not used in the repr of `str` in py3. The `u'\xf1'` in the error message is a giveaway that bpo runs on py2.

`UnicodeEncodeError: 'ascii' codec can't encode character u'\xf1' in position 17: ordinal not in range(128)` is how python2 says it.
`UnicodeEncodeError: 'ascii' codec can't encode char

[2021-11-07 03:15] 180909 opened #65 "The copyright message of bugs.p.o is outdated"
The copyright message of the year need update.

[2022-01-11 12:30] JulienPalard commented on #10
Can the dmarc=fail be due an alignment problem? I noticed the return-path and the from are different:

    Return-Path: [...]@roundup.psfhosted.org>
    From: [...]@bugs.python.org>

According to [rfc7489$B1.1](https://datatracker.ietf.org/doc/html/rfc7489#appendix-B.1.1) they need to be the same for SPF to be considered aligned.

[2022-01-31 23:21] horpto opened #66 "can not login with github profile"
Hi, I open https://bugs.python.org/ and click on the github icon and then get the error message.

[2022-02-01 04:22] terryjreedy commented on #66
Where is the github icon?  I cannot find it.  In any case, please copy or retype the error message.

[2022-02-01 05:35] horpto commented on #66
@terryjreedy thanks for quick response!
User form from left column:
![image](https://user-images.githubusercontent.com/7109350/151917275-9bc4cbee-10a0-4ed5-ab23-e77de22cd096.png)

Github icon has the link https://bugs.python.org/?@action=oic_login&provider=GitHub

Error after click on icon:
![image](https://user-images.githubusercontent.com/7109350/151917605-bddd29b4-bdb9-474a-9b86-af80ffd93e89.pn

[2022-02-01 05:44] terryjreedy commented on #66
I don't normally see that since I get automatically logged in.  I logged out and clicked and got a proper github login box.  I know nothing about how 'oic_login's work, but suspect your language or location have something to do with the problem.

[2022-02-01 09:48] horpto commented on #66
I logged out from github. After it, I got correct redirect to a github login too. But After sign in button I got an error again. Reproduced from work (linux) and home (win10) comps.
![image](https://user-images.githubusercontent.com/7109350/151946140-ac235394-2b09-4691-8514-13008a32e8b2.png)

https://bugs.python.org/index?@action=oic_authresp&provider=GitHub&code=c57f024d55511440ee49&state=LBaB9Lo

[2022-02-04 23:56] horpto commented on #66
I already loginned in bugs.python.org with github. Yeaaahhh! But first I authenticate myself with openID.

[2022-02-04 23:56] #66 closed, assigned to nobody

[2022-04-09 13:19] #12 closed

[2022-05-07 06:13] ezio-melotti commented on #26
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:13] #26 closed, assigned to berkerpeksag

[2022-05-07 06:21] ezio-melotti commented on #6
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:21] #6 closed

[2022-05-07 06:22] ezio-melotti commented on #8
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:22] #8 closed

[2022-05-07 06:22] ezio-melotti commented on #9
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:22] #9 closed

[2022-05-07 06:22] ezio-melotti commented on #10
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:22] #10 closed

[2022-05-07 06:23] ezio-melotti commented on #11
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:23] #11 closed

[2022-05-07 06:24] ezio-melotti commented on #19
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:24] #19 closed, assigned to nobody

[2022-05-07 06:27] ezio-melotti commented on #21
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

cc @rouilj

[2022-05-07 06:27] #21 closed, assigned to berkerpeksag

[2022-05-07 06:27] ezio-melotti commented on #22
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:27] #22 closed, assigned to nobody

[2022-05-07 06:27] ezio-melotti commented on #23
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:27] #23 closed, assigned to nobody

[2022-05-07 06:27] ezio-melotti commented on #25
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:27] #25 closed, assigned to nobody

[2022-05-07 06:28] ezio-melotti commented on #27
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:28] #27 closed, assigned to nobody

[2022-05-07 06:29] ezio-melotti commented on #44
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:29] #44 closed, assigned to nobody

[2022-05-07 06:29] ezio-melotti commented on #54
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:29] #54 closed, assigned to nobody

[2022-05-07 06:29] ezio-melotti commented on #56
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:29] #56 closed, assigned to nobody

[2022-05-07 06:30] ezio-melotti commented on #62
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

[2022-05-07 06:30] #62 closed, assigned to nobody

[2022-05-07 06:30] ezio-melotti commented on #63
We now migrated to [GitHub](https://github.com/python/cpython/issues), so this can be closed.

cc @rouilj

[2022-05-07 06:30] #63 closed, assigned to nobody

[2022-05-07 06:34] #65 closed, assigned to nobody